<div class="text-main bg-main-light py-5">
    <div class="container-fluid">
        <h4>Get the NextFlex App</h4>
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <span>Payment partners</span>                
                <img src="../../assets/images/mastercard_logo.svg__3.png" alt="Mastercard logo" class="w-7">
                <img src="../../assets/images/PayPal-Logo.png" alt="Paypallogo" class="w-7">
            </div>
            <div class="d-flex align-items-center">
                <span>Download NextFlex app for free</span>
                <img src="../../assets/images/apple_831329.png" alt="Apple store logo" class="w-12">
                <img src="../../assets/images/ios-app-google-play-store-logo_svgstack_com_36011770598532.png" alt="Google play logo" class="w-12">
            </div>
        </div>
    </div>
</div>