<nav class="navbar navbar-expand-lg bg-main text-lightt">
  <div class="container-fluid">
    <a class="navbar-brand cursor-pointer" routerLink="Home" routerLinkActive="text-lightt">NextFlex</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="Home" routerLinkActive="text-light">Home</a>
        <a class="nav-link" routerLink="Popular" routerLinkActive="text-light">Popular</a>
        <a class="nav-link" routerLink="Rated" routerLinkActive="text-light">Rated</a>
        <a class="nav-link" routerLink="Search" routerLinkActive="text-light">Search</a>
      </div>
      <div class="social">
        <a href="https://www.facebook.com"><i class=" fa-brands fa-facebook"></i></a>
        <a href="https://www.x.com"><i class="fa-brands fa-x"></i></a>
        <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.youtube.com"><i class="fa-brands fa-youtube"></i></a>
      </div>
    </div>
  </div>
</nav>
